body {
    background-color: #fff;
}

.heading {
    text-align: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: fit-content;
    background-color: black;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    border: 1px solid black;
    font-size: 18px;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}